################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab2_unmodified - C/.vs/Lab2_unmodified - C/v16
/Lab2_modified - C++/.vs/Lab2_modified - C++/v16
